.aboutus-wrapper {
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.bird-1 {
    transform: scaleX(-1);
}

.aboutus-logo {
    max-width: 90%;
    border-radius: 10px;
}

.bird-img {
    width: 200px;
    height: auto;
}

@media screen and (max-width: 1622px) {
    .bird-img {
        display: none
    }

    .logo-container {
        justify-content: center;
    }

}

.aboutus-description {
    display: flex;
    width: 100%;
    padding: 0px 5%;
}

@media screen and (max-width: 1170px) {
    .aboutus-description {
        flex-direction: column;
        align-items: center;
    }

    .aboutus-description p {
        width: 100% !important;
    }
}

.aboutus-description p {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutus-description img {
    width: 60%;
    min-width: 300px;
    height: auto;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--mocha);
    margin-right: 20px;
}

.separator {
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: var(--large);
    color: var(--mocha);
}

.worker-section {
    width: 100%;
    padding-bottom: 20px;
    background-image: url("http://northshoresoapworks.com/images/category_bg.png");
}

.worker-container {
    padding: 0px 5%;
    height: 315px;
    margin-bottom: 20px;
}

.worker {
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .worker-container {
        height: auto;
    }

    .worker {
        flex-direction: column !important;
    }

    .worker img {
        margin-bottom: 10px;
    }
}

.worker-container:nth-child(even) .worker {
    flex-direction: row-reverse;
}

.worker-container:nth-child(even) img {
    margin-right: 0px;
    margin-left: 10px;
}

.worker img {
    width: auto;
    height: 315px;
    margin-right: 10px;
}

.worker-description {
    height: 270px;
    overflow-y: scroll;
    background-color: var(--white);
    box-shadow: 0 0 0px 1px var(--mocha),
        0 0 0px 10px var(--bone),
        0 0 0px 13px var(--mocha);
}

.worker-description p {
    font-family: Arial, Helvetica, sans-serif;
}

.worker-description {
    padding: 10px;
}

.worker-description h2 {
    color: var(--mocha);
    font-size: var(--large);
}