.aboutus-wrapper {
    width: 100%;
    flex: 1;
}

.aboutus-title {
    text-align: center;
    font-size: 70px;
    color: var(--mocha);
    text-decoration: underline;
}

.aboutus-container {}

.shop-img {
    width: 100%;
    max-width: 700px;
    float: left;
    margin: 15px;
}

.aboutus-description {
    text-align: justify;
}

.about-workers {}

.worker-container {
    background-color: var(--black);
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 1;
    transition: 300ms;
}

.worker-container:hover .worker {
    opacity: 0.7;
    cursor: pointer;
}

.worker {
    background-image: url("http://northshoresoapworks.com/images/category_bg.png");
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    transition: 300ms;
    border: 1px solid var(--black);
}

.worker-name-container {
    width: 180px;
    height: 180px;
    padding: 10px
}

.worker-name {
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 5px 5px 5px -2px var(--black);
}

.worker-container:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}

/* This is for the active class */

.worker-container.worker-active {
    height: 530px !important;
}

.worker-active {
    transition: 300ms;
}

.worker-active .worker {
    height: 530px !important;
}

.worker-active .worker-name-container {
    display: none;
}

.worker-description-container {
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 560px) {}

.worker-active .worker-description {
    width: 100%;
    height: 100%;
    color: var(--black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worker-active .worker-description p {
    margin-top: 10px;
    padding: 50px 30px;
    border: 1px solid var(--black);
    border-radius: 20px;
    background-color: var(--black-opacity);
    color: var(--white);
    max-height: 100%;
    overflow: auto;
}

.worker-active .worker-description-container img {
    height: calc(100% - 20px);
    margin: 10px;
    border: 1px solid var(--black);
    border-radius: 20px;
}

.worker-active .worker-description-container {
    display: flex !important;
}

.worker-container:nth-child(odd) .worker-description-container {
    flex-direction: row-reverse;
}

.worker-description-container {
    display: none;
}