.cart-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cream);
}

@media screen and (max-width: 490px) {
    .cart-wrapper {
        height: auto;
    }
}

.cart {
    width: 100%;
    max-width: 700px;
    border: 2px solid var(--cream);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 40px 30px;
}

.cart-item-image {
    width: 150px;
    height: 100%;
}

.cart-title {
    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.cart-total {
    font-size: 1.2rem;
}

@media screen and (max-width: 450px) {
    .cart-item {
        flex-wrap: wrap;
        justify-content: center;
    }

}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-remove {
    cursor: pointer;
    background: none;
    border: none;
    fill: var(--cream);

}

.cart-item-remove svg {
    transition: 300ms;
}

.cart-item-remove svg:hover {
    fill: var(--mocha);
}

.empty-cart {
    text-align: center;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-arrow-btn {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    fill: var(--cream);
    transition: 200ms;
}

.quantity-arrow-btn:hover {
    fill: var(--mocha);
}

.quantity-number-container {
    display: flex;
    flex-direction: column;
    width: 25px;
    align-items: center;
}

.cart-total {
    height: 100%;
}

.checkout-btn {
    padding: 2% 5%;
    font-size: 1.3rem;
    border-radius: 30px;
    background-color: var(--cream);
    color: var(--mocha);
    border: 2px solid var(--mocha);
    transition: 200ms;
    text-decoration: none;
    margin: 10px;
}

.checkout-btn:hover {
    background-color: var(--mocha);
    color: var(--cream);
    border: 2px solid var(--cream);
}