.cart-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cream);
}

@media screen and (max-width: 490px) {
    .cart-wrapper {
        height: auto;
    }
}

.cart {
    width: 100%;
    max-width: 700px;
    border: 2px solid var(--cream);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 40px 30px;
}

.cart-title {
    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 700px;
    overflow-y: auto;    
}

.cart-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
}

@media screen and (max-width: 450px) {
    .cart-item {
        flex-wrap: wrap;
        justify-content: center;
    }

}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-remove {
    cursor: pointer;
    background: none;
    border: none;
    fill: var(--cream);

}

.cart-item-remove svg {
    transition: 300ms;
}

.cart-item-remove svg:hover {
    fill: var(--mocha);
}

.empty-cart {
    text-align: center;
}