.checkout-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: var(--mocha)
}

.checkout-container {
    width: 100%;
    max-width: 700px;
    background-color: var(--bone);
    border: 2px solid var(--mocha);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

@media screen and (max-width: 560px) {
    .checkout-container {
        padding: 20px 0px;
    }
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 8px 0;
}

.checkout-label {
    margin-right: auto;
    min-width: 100px;
}

.checkout-input {
    padding: 6px;
    border: 2px solid var(--mocha);
    border-radius: 5px;
    width: 100%;
}

.alert {
    width: 100%;
    text-align: center;
}

.error {
    border: 2px solid var(--red);
}

.payment-button {
    background-color: var(--mocha);
    color: var(--cream);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: 300ms;
}

.payment-button:hover {
    background-color: var(--walnut);
}