.display-items-wrapper {
    width: 100%;
    background-image: url("http://northshoresoapworks.com/images/category_bg.png");
    background-repeat: repeat;
    color: var(--mocha);
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.display-items-category-title {
    margin-top: 18px !important;
    position: relative;
}

.display-item-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    padding: 20px 5%;
    padding-top: 0;
}

.back-button {
    position: absolute;
    left: 20px;
    font-size: 16pt;
    background-color: var(--meadow);
    padding: 10px 40px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    border-radius: 50px;
    border: 1px solid var(--mocha);
    transition: 200ms;
}

.back-button svg {
    fill: var(--white);
    transition: 200ms;
}

.back-button:hover {
    background-color: var(--cypress);
}

.back-button:hover svg {
    transform: translateX(-10px);
}

@media screen and (max-width: 800px) {
    .back-button {
        display: none;
    }
}

.categories-select-wrapper {
    padding: 0 5%;
}

.categories-select-container {
    width: 100%;
    padding: 10px 6%;
    background-color: var(--mocha);
    margin-bottom: 20px;
    border: 1px solid var(--walnut);
}

.categories-select-container div {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    line-height: 35%;
}

.categories-select-container button {
    background: none;
    border: none;
    color: var(--cream);
    transition: 200ms;
}

.categories-select-container button:hover {
    color: var(--bone);
    scale: 1.1;
}

.categories-select-container hr {
    width: 100%;
    border: 1px solid var(--cream) !important;

}

.pagination {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.pagination-btn {
    width: 40px;
    height: 40px;
    color: var(--mocha);
    background-color: var(--cream);
    border: 1px solid var(--mocha);
    border-radius: 10px;
    transition: 200ms;
    font-size: 14pt;
}

.pagination-btn:hover {
    background-color: var(--bone);
    font-size: 18pt;
}

.pagination-active {
    background-color: var(--bone);
}