:root {
    --white: white;
    --cream: #EEE7D5;
    --stone: #DABDA5;
    --mocha: #A48371;
    --mocha-opacity: #a4837195;
    --meadow: #A0A168;
    --meadow-light: #b6b775;
    --cypress: #717F66;
    --khaki: #625A3C;
    --walnut: #5F4438;
    --bone: #E2D9C4;
    --bone-opacity: #e2d9c485;
    --black: #1a1a1a;
    --black-opacity: #1a1a1a3e;
    --grey: #D6D6D6;
    --red: #842029;
    --small: 12pt;
    --medium: 14pt;
    --large: 24pt;
}

@font-face {
    font-family: 'Copperplate' !important;
    src: url('../fonts/OPTICopperplate-Heavy.otf') format('opentype');
    /* Additional font styles (e.g., font-weight, font-style) can be specified here */
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--medium);
}

body,
html {
    background-color: var(--cream) !important;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Copperplate' !important;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

hr {
    border: 1px solid var(--mocha) !important;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
    margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    font-family: 'Copperplate' !important;
}

h1 {
    font-size: 2rem !important;
    font-family: 'Copperplate' !important;
}

h3 {
    font-size: var(--large);
    font-family: 'Copperplate' !important;
}

p {
    margin: 0px !important;
}

.cart-button {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 10px;
}

.cart-button svg {
    fill: var(--stone);
    transition: 300ms;
}

.cart-button svg:hover {
    fill: var(--cream);
}

.navbar {
    position: relative;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        position: relative;
        z-index: 2;
        pointer-events: auto;
    }
}

.navbar .container {
    margin-left: 0px !important;
}

.nav-link a {
    text-decoration: none;
    color: var(--stone);
    transition: 200ms;
}

.nav-link a:hover {
    color: var(--cream);
}

.navbar-nav {
    background-color: var(--mocha);
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        padding: 20px !important;
        border-radius: 20px;
    }

}

.coming-soon {
    width: 100%;
    font-size: var(--large);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mocha);
}

.image-placeholder {
    background-color: var(--cypress);
    border-radius: 20px;
    animation: pulse 1s infinite;
}

.image-placeholder.fade-out {
    opacity: 0;
}

@keyframes pulse {
    0% {
        background-color: var(--meadow);
    }

    50% {
        background-color: var(--meadow-light);
    }

    100% {
        background-color: var(--meadow);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-loading {
    opacity: 0;
}

.fade-in {
    animation: fade-in 1s;
}